.footer {
    padding: 20px 100px;
    background-color: var(--footer-background-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-color);
    text-align: center;
}